/* Scrolled */
.scrolled {
    background-color: #ffffff;
}

.scrolled .nav__select,
.scrolled .nav__item a,
.scrolled .nav__item--select::after {
    color: #004460;
}

.scrolled .nav__item--select svg,
.scrolled .nav__burger svg {
    fill: #004460;
}

.scrolled::after {
    background-color: #D0D5D9;
}

.scrolled .header__info,
.scrolled .lang__btn,
.scrolled .about-list__item a,
.scrolled .authorize__btn {
    color: #B9B9B9;
}

.scrolled .authorize::after,
.scrolled .lang::after {
    background-color: #B9B9B9;
}

/* Hovered */
.nav__item--select:hover::after {
    opacity: 0;
    display: none;
}

/* Burger */
.menu-opened .nav__list {
    display: flex;
    position: absolute;
    width: 77%;
    top: 0;
    right: 40px;
    min-height: 130px;
    opacity: 1;
}

.menu-opened .header__info {
    display: none;
    opacity: 0;
}

.menu-opened::after { 
    display: none;
    opacity: 0;
}

.menu-opened .burger__open {
    display: none;
    opacity: 0;
}

.menu-opened .burger__close {
    display: block;
    height: 21px;
    position: absolute;
    left: 4px;
    top: 8px;
    padding-right: 10px;
    opacity: 1;
}

