/* Классы управления бургером */
.menu-opened .nav__list {
    display: flex;
    position: absolute;
    width: 77%;
    top: 0;
    right: 40px;
    min-height: 130px;
    opacity: 1;
}

.menu-opened .header__info {
    display: none;
    opacity: 0;
}

.menu-opened::after { 
    display: none;
    opacity: 0;
}

.menu-opened .burger__open {
    display: none;
    opacity: 0;
}

.menu-opened .burger__close {
    display: block;
    height: 21px;
    position: absolute;
    left: 4px;
    top: 8px;
    padding-right: 10px;
    opacity: 1;
}

/* Классы управления списками */
.select-opened {
    min-height: 245px;
}

.opened {
    margin-bottom: 120px;
}

@media (max-width: 768px) {
    .opened {
        margin-bottom: 140px;
    }
}

.visible {
    display: block;
    opacity: 1;
}

.active {
    transform: rotate(180deg);
}

/* Классы управления скролом */
.scrolled {
    background-color: #ffffff;
}

.scrolled .nav__select,
.scrolled .nav__link,
.scrolled .select-list__link,
.scrolled .nav__item--select::after {
    color: #004460;
}

.scrolled .nav__link--distribution {
    color: #20AFFF;
}

.scrolled .nav__item--select svg,
.scrolled .nav__burger svg {
    fill: #004460;
}

.scrolled::after {
    background-color: #D0D5D9;
}

.scrolled .header__info,
.scrolled .lang__btn,
.scrolled .about-list__link,
.scrolled .authorize__btn {
    color: #B9B9B9;
}

.scrolled .authorize::after,
.scrolled .lang::after {
    background-color: #B9B9B9;
}

/* Классы управления наведением мыши */
.header-wrapper button:hover,
.header-wrapper .about-list__link:hover {
    color: #ffffff;
}

.nav__link:hover,
.select-list__link:hover {
    opacity: 0.8;
}

.scrolled button:hover,
.scrolled .nav__link:hover,
.scrolled .about-list__link:hover,
.scrolled .select-list__link:hover,
.content__form a:hover {
   color:#20AFFF;
}

.scrolled a:hover + svg{
   fill: #20AFFF;
}

.company__link:hover {
    background-color: #fafafa;
    color: #20AFFF;
}

.swiper-button-next:hover{
    stroke:#e2e4e6;
}

.swiper-button-next:active {
    stroke:#c2c6c9;
}

.swiper-pagination-bullet:hover {
    border: 2px solid #ffffff;
    opacity: 1;
}

.form__btn:hover {
    opacity: 0.8;
}