@font-face {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-display: swap;
    src: url('/fonts/AvenirNextCyr-Regular.woff') format("woff"),
    url('/fonts/AvenirNextCyr-Regular.woff2') format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-display: swap;
    src: url('/fonts/AvenirNextCyr-Demi.woff') format("woff"),
    url('/fonts/AvenirNextCyr-Demi.woff2') format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-display: swap;
    src: url('/fonts/AvenirNextCyr-Bold.woff') format("woff"),
    url('/fonts/AvenirNextCyr-Bold.woff2') format("woff2");
    font-style: normal;
    font-weight: 800;
}