*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next Cyr', sans-serif;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 1920px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url('/img/stars.png'), url('/img/sky.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 128px, 0 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .container {
        background-image: url('/img/stars2x.png'), url('/img/sky2x.png');
        background-size: contain;
    }
};

@media (max-width: 768px) {
    .container {
        width: 768px;
        background-position: center 0, center 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 480px;
    }
}