:root {
    --dark-bg: #12033C;
    --white-text: #FFFFFF;
    --light-blue: #0099EF;
    --dark-blue: #004460;
    --white-text-transparent: rgba(255, 255, 255, 0.5);
    --transition: all ease 0.5s;
}