.main__poster {
    max-height: 1315px;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .main__poster {
        max-height: 676px;
        padding-top: 152px;
    }
}

@media (max-width: 480px) {
    .main__poster {
        max-height: 479px;
    }
}
