.swiper-slide__content {
    display: flex;
    flex-wrap: wrap;
    width: 70.35%;
    margin: 0 auto;
}

.swiper-slide__content h2 {
    font-weight: 750;
    font-size: 46px;
    line-height: 60px;
    color: #004460;
    margin: 0 0 38px 0;
}

.swiper-slide__content img {
    margin-bottom: 28px;
    margin-right: 64px;
}

.swiper-slide__description {
    font-size: 18px;
    line-height: 150%;
    color: #004460;
    width: 55.4%;
    margin: 0;
}

.swiper-slide__form {
    display: block;
    width: 26%;
}

.swiper-slide__form a {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #004460;
    font-weight: 500;
}

.form__fields {
    padding: 0;
    margin: 0 0 19px 0;
}

.form__field label,
.form__field input {
    width: 100%;
}

.form__field label {
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    color: #004460;
    display: block;
}

.form__field input {
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #EFF0F1;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}

.form__field--login {
    margin: -1px 0 25px 0;
}

.form__field--password {
    margin-bottom: 23px;
}

.form__field--login label {
    margin-bottom: 6px;
}

.form__field--password label {
    margin-bottom: 8px;
}

.form__field--btns {
    display: flex;
    flex-wrap: wrap;
}

.swiper-slide__btn {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 15px 0 15px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
}

.swiper-slide__btn--registration {
    background-color: #EEFAFE;
    color: #20AFFF;
    margin-bottom: 11px;
}

.swiper-slide__btn--login {
    background-color: #20AFFF;
    color: #FFF;
}