.header__about-list {
    display: flex;
    justify-content: space-between;
    margin: 0 244px 0 0;
    padding: 0;
    width: 41.6%;
    font-size: 16px;
    font-weight: 400;
}

.about-list__item a {
    color: var(--white-text-transparent);
    font-size: 14px;
}

.about-list__item:nth-child(3) {
    margin-left: 1px;
}

.about-list__item:last-child {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .header__about-list {
        order: 4;
        margin-top: 50px;
        margin-right: 0;
        width: 100%;
    }

    .about-list__item:nth-child(3) {
        margin-left: 0;
    }
    
    .about-list__item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .header__about-list {
        margin-top: 33px;
    }
}