.header__lang {
    width: 5%;
    margin:  -3px 88px 0 0;
}

@media (max-width: 768px) {
    .header__lang {
        order: 1;
        width: 9%;
        margin-right: 60px;
        margin-top: -2px;
    }
}

.lang__btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    color: var(--white-text-transparent);
}

.lang__btn--en {
    margin-right: 14px;
}

.lang {
    position: relative;
}

.lang::after {
   content: '';
   position: absolute;
   width: 1px;
   height: 14px;
   top: 2px;
   left: 27px;
   transform: rotate(22deg);
   background-color: var(--white-text-transparent);
}

@media (max-width: 480px) {
    .header__lang {
        width: 13%;
        margin-left: 250px;
        margin-right: 0;
        margin-bottom: 48px;
    }
}

