.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    font-size: 16px;
    margin: 11px 0 0 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__link {
    color: var(--white-text);
    display: inline-block;
    font-weight: 400;
}

.nav__item:nth-child(2),
.nav__item:last-child {
    position: relative;
}

.nav__item--select {
    position: relative;
}

.nav__item--select svg {
    position: absolute;
    fill: #ffffff;
    bottom: -15px;
}

.first-select svg {
    left: 70px;
}

.second-select svg {
    left: 90px;
}

.nav__item:nth-child(2) svg {
    position: absolute;
    bottom: -13px;
    left: 69px;
}

.nav__item:nth-child(6) svg {
    position: absolute;
    bottom: -13px;
    left: 95px;
}

.select-list {
    background-color: transparent;
    color: var(--white-text);
    font-size: 16px;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    transition: var(--transition);
    display: none;
    opacity: 0;
}

.select-list__link {
    color: var(--white-text);
}

.select-list__item {
    margin-top: 20px;
}

.select-list__item:first-child {
    margin-top: 30px;
}

.select-list__item a {
    padding: 5px 0 5px 0;
}

.nav__link--distribution  {
    font-size: 18px;
    text-align: right;
    text-decoration: underline;
    color: var(--light-blue);
    margin-left: 19px;
    font-weight: 600;
}

.nav__burger {
    display: none;
}

.burger__close {
    display: none;
}

.nav__item--logo {
    margin-top: -15px;
    margin-right: 2px;
}

.nav__item:last-child {
    margin-top: -2px;
}

@media (max-width: 768px) {
    .nav__item--logo {
        position: absolute;
        top: 13px;
        left: 133px;
    }

    .nav__burger {
        display: block;
        width: 30px;
        height: 40px;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 13px;
        left: 38px;
    }

    .nav__burger svg {
        width: 30px;
        height: 30px;
        fill: #ffffff;
    }

    .nav__list {
        display: none;
        flex-wrap: wrap;
        opacity: 0;
        margin-top: 23px;
        transition: var(--transition);
    }

    .nav__distribution {
        display: none;
    }

    .nav__item:nth-child(5) {
        order: -1;
    }

    .nav__item:nth-child(1) {
        order: -2;
    }
}

@media (max-width: 480px) {
    .nav__item--select a {
        margin-bottom: 10px;
    }

    .nav__list {
        width: 77%;
    }

    .nav__burger {
        left: 24px;
    }
}